#signup {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: flex-end;
    align-items: flex-end;
}
.auth-content {
    display: flex;       
    width: calc(100% - 3rem);
    height: calc(100vh - 2.7rem);
    background-color: var(--ui-2);
    place-content: left;
    border-top-left-radius: 0.5rem;
}
.auth-logo {
    width: 37%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#signup .v-line{
    height: calc(100vh - 2.7rem);
    width: 0.2rem;
    background-color: var(--ui-base);
}
.auth-logo img{
    width: 25rem;
}

.auth-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-box form {
    display: flex;
    align-items: flex-start;
    padding: 7rem;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 9px;
    background: #2C2C2C;
    box-shadow:  5px 5px 7px #262626,
             -5px -5px 7px #323232;
}
.auth-box form h1{
    padding-bottom: 2rem;
}
.auth-box form div {
    display: flex;
    flex-direction: column;
    gap: 0.05rem;
}
.auth-box form div{
    margin-bottom: 0.5rem;
    width: 100%;

}
.auth-box form div input{
    all: unset;
    border: 1px solid var(--text-color-x-muted);
    border-radius: 0.21rem;
    padding: 0.12rem 0.5rem;
    width: calc(100% - 1rem);
}
.switch-link p{
    font-size: 0.8rem;
    margin-top: 0.5rem;
}
#signup button{
    all: unset;
    width: 100%;
    height: 2rem;
    border-radius: 9px;
    border-radius: 7px;
    background: #2C2C2C;
    box-shadow:  5px 5px 4px #272727,
             -5px -5px 4px #313131;
             padding: 0.2rem;
    text-align: center;
    margin-top: 0.8rem;
    cursor: pointer;
}
#signup button:active{
  border-radius: 7px;
  background: #2C2C2C;
  font-size: 0.9rem;
  border-radius: 7px;
  box-shadow:  -5px -5px 4px #282828,
               5px 5px 4px #303030;
}